          
        <div class="projectTitle">
                <img src="/img/pm_logo.png" alt="logo">
            </div>
            <div class="menuNavigator">
                <ul>
                    <li><a href="project?pageNumber=1&pageSize=2">Projects</a></li>
                    <li><a href="/api/zadanie">Tasks</a></li>
                    <li><a href="/api/student">Studends</a></li>
                </ul>
            </div>
            <div class="userProfile">
                <span th:text="${userName}"></span>
                <a href="/logout">Logout</a>
            </div>
 