     
            <div class="menuNavigator">
                <ul>
                    <li><a href="project?pageNumber=1&pageSize=5">Projects</a></li>
                    <li><a href="task?pageNumber=1&pageSize=5">Tasks</a></li>
                    <li><a href="student?pageNumber=1&pageSize=5">Students</a></li>
                </ul>
                <div class="userProfile ">
                <span th:text="${userName}"></span>
                <a href="/logout">Logout</a>
            </div>
<div class="projectTitle">
               <img src="/img/pm_logo.png" alt="logo">                
            </div>
            </div>

            
 
