<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Project Manager</title>
        <meta charset="UTF-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <script src="js/main.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="header" th:insert="fragments/header.html"></div>
        <div class="content">
            <h1>Welcome to Project Manager Application!</h1>
        </div>
        <div class="footer" th:insert="fragments/footer.html"></div>
    </body>
</html>