<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Project Manager</title>
        <meta charset="UTF-8">
        <link href = "css/styles.css" rel = "stylesheet"/>

    </head>
    <body>
        <div class="header" th:insert="fragments/header.html"></div>
        <div class="content">
             <div class="menuNavigator"></div>
            <div class="loginForm">
                <h1>Insert credentials to login</h1>     
                <div th:if="${param.error}"> 
                    <p th:text="${session.error}" th:unless="${session == null}">[...]</p> 
                </div> 
                <div th:if="${param.logout}">You have been logged out.</div> 
                <form th:action="@{/login}" method="post">
                    <div> 
                       <label> User Name : <input type="text" name="username" /> </label> 
                    </div> 
                    <div> 
                        <label> Password: <input type="password" name="password" /> </label> 
                    </div> 
                    <div> 
                       <input type="submit" value="Sign In" />
                    </div> 
                </form> 
            </div>
        </div>
        <div class="footer" th:insert="fragments/footer.html"></div>
    </body>
</html>

